.button {
  display: block;
  padding: 17px 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: none;
  background-color: $accent-color;
  color: #ffffff;
}
