.button {
  display: block;
  padding: 16px 18px;
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: none;

  background-color: $accent-color;
  color: #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #bd0c21;
  }

  &--white {
    border: 1px solid $accent-color;
    background-color: #ffffff;
    color: $accent-color;
  }

  &--white:hover,
  &--white:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}
