.card-description {
  margin-top: 90px;
  margin-left: 10px;
}

.card-description__controls {
  display: flex;
  width: 585px;
}

.card-description__btn {
  width: 195px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #d7d9df;
  background-color: transparent;
  font: inherit;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  &--active {
    background-color: $accent-color;
    color: #ffffff;
    border-color: $accent-color;
    cursor: default;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
    border-color: $accent-color;
  }
}
