.page-header {
  background-color: #f5f5f9;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 84px;
  padding-left: 6px;
}

.page-header__logo-link {
  padding-top: 5px;
}

.page-header__logo-img {
  width: 133px;
  height: 55px;
}
