.popup {
  display: none; // Временно пока не реализуем через JS
  width: 100%;
  height: 100vh;
  background-color: rgba(#48494d, 0.7);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 698px;
  height: 415px;
  padding: 30px 35px 35px 35px;
  background-color: #f5f5f9;
  transform: translate(-50%, -50%);
}

.popup__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 19px;
    height: 2px;
    background-color: #9f9f9e;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #48494d;
}

.popup__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup__column {
  width: 300px;
}

.popop__item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.popop__required {
  position: absolute;
  top: 13px;
  left: 13px;
}

.popop__field {
  width: 100%;
  padding: 15px 25px;
  font: inherit;
  font-size: 14px;
  line-height: 19px;
  color: #48494d;
  border: 1px solid rgba(72, 73, 77, 0.2);

  &--text {
    height: 118px;
    resize: none;
  }
}

.popup__assessment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 27px;
}

.popup__assessment-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.popup__star {
  width: 27px;
  height: 26px;
  margin-right: 3px;
}

.popup__coments {
  position: relative;
  margin: 0;
  padding: 0;
}

.popup__btn {
  margin: 0 auto;
  margin-top: 33px;
}
