.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.preview__btn {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #d7d9df;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover,
  &:focus {
    border-color: #48494d;
  }

  &--prew::before {
    transform: rotate(180deg) translate(50%, 50%);
  }

  &:disabled {
    cursor: default;
  }

  &:hover:disabled,
  &:focus:disabled {
    border-color: #d7d9df;
  }

  &:disabled::before {
    opacity: 0.4;
  }
}

.preview__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  width: 435px;
  padding: 0;
  list-style-type: none;
}

.preview__img {
  display: block;
  width: 128px;
  height: 80px;
}
