.site-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 5px;
}

.site-list__item {
  margin-left: 69px;

  &:first-child {
    margin-left: 0;
  }
}

.site-list__link {
  font-weight: 600;
  text-decoration: none;
  color: #48494d;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
