@import "global/fonts.scss";
@import "global/normalize.scss";
@import "global/global-style.scss";
@import "global/variables.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/container.scss";
@import "blocks/button.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/gallery.scss";
@import "blocks/slider.scss";
@import "blocks/preview.scss";
@import "blocks/info.scss";
@import "blocks/card-description.scss";
@import "blocks/specifications.scss";
